
.container-1{
    width: 40%;
    box-sizing: border-box;
    background-color: #343D68;
    margin: 1.6rem 33rem;
    border-radius: 50px;
}
.container-1 .paragraph{
    padding-top: 8rem;
    text-align: center;
}
.container-1 .paragraph h1{
    padding: 15px 0 ;
    color: white; 
    font-size: 65px; 
    font-family: Risque; 
    font-weight: 400; 
    word-wrap: break-word"

}
form .text-field{
    position: relative;
    /* padding: 10px 0; */
    color: white;
    font-size: 14px;
    font-style: normal;
    padding-top: 20px;
}
form{
    text-align: center;
}
label{
    position: absolute;
    top: 50%;
    transform: translateY(10%);
    left: 15%;
    font-size: 18px;
    pointer-events: none;
    transition: .5s;
    color: white;
    padding-right: 25rem;
}
.text-field input{
    border: none;
    border-bottom: 1px solid white;
    width: 60%;   
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    background: none;
    outline: none;
    color: white;
}
.text-field span::before{
    position: absolute;
    top: 5px;
    left: 0;
    width: 0%;
    height: 1px;
    transition: .5s;
}
.text-field input:focus ~ label,
.text-field input:valid ~ label{
  top: 10px;
  font-size: 13px;
}
.text-field input:focus ~ span::before,
.text-field input:valid ~ span::before{
  width: 100%;
}
form .pass{
    padding-left: 18rem;
    color: white;
    font-size: 15px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    padding-top: .8rem;
}
input[type="submit"]{
    background-color: white;
    color: #00523F;
    font-size: 25px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    padding: 14px 180px;
    border: none;
    border-radius: 20px;
    margin: 40px 0;
    cursor: pointer;
    outline: none;
    margin-bottom: 5rem;

}
input[type="submit"]:hover{
  background-color: #FFFC00;
  color: black;
  transition: .5s;
}

form .signup-link {
    color: #626262;
    font-family: HelveticaNeue;
    font-size: 12px;
    font-style: normal;
    line-height: normal;
}
form a{
    font-weight: bold;
    text-decoration: none;
    color: #000;
}
.error-message {
    color: red;
    margin-top: 5px;
}

@media screen and (max-width: 500px) {

    input[type="submit"] {
        padding: 14px 3rem;
    }

}
@media screen and (max-width: 500px) {

    input[type="submit"] {
        padding: 14px 3rem;
    }
  
  }
  